.heroSection {
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 100px;
  font-family: "poppins";
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  img {
    width: 98%;
    border-radius: 50%;
    border: 2px solid var(--accent);
  }

  h1 {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: -25px;
    line-height: 80px;
  }
  .title {
    font-size: 30px;
    margin-bottom: -5px;
  }
}

.heroBreak {
  display: block;
}

.heroButtons {
  width: 180px;
  a {
    color: black;
    text-decoration: none;
    transition: 400ms;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;
    width: 180px;
    font-size: 18px;
    font-weight: 800;
    background-color: var(--accent);
    color: black;
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: 400ms;
  }

  button:hover {
    background-color: black;
    color: white;
    a {
      color: white;
    }
  }
}

@media (min-width: 500px) and (max-width: 991px) {
  .heroBreak {
    display: none;
  }
}

@media (max-width: 767px) {
  .heroSection {
    margin-right: 0px;
    gap: 0px;
    h1 {
      font-size: 50px;
      line-height: 55px;
    }
    .title {
      font-size: 20px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 991px) {
  .heroSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 50px;
    }
    .title {
      font-size: 25px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .heroSection {
    max-width: 1050px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .heroSection {
    margin-top: 80px;
    max-width: 1300px;
  }
}

@media (min-width: 1367px) {
  .heroSection {
    height: 100vh;
    margin-top: 10px;
  }
}
