@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Poppins;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);
  transition: 400ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #121212;
  --color: rgba(255, 255, 255, 0.87);
  --navItemColor: rgba(255, 255, 255, 0.539);
  --accent: #55e6a5;
  --navbarBackground: rgba(0, 0, 0, 0.304);
  --activeNavColor: white;

  ::-webkit-scrollbar {
    width: 5px;
  }
}

[data-theme="light"] {
  /* Light mode styles using custom color variables */
  --cursor-color: #33333369;
  --background: rgb(235, 233, 233);
  --accent: #30ae75;
  --color: black;
  --navItemColor: rgb(99, 99, 99);
  --navbarBackground: rgba(255, 255, 255, 0.304);
  --activeNavColor: black;
}

[data-theme="dark"] {
  /* Dark mode styles using custom color variables */
  --cursor-color: #ffffff73;
  --background: #121212;
  --color: rgba(255, 255, 255, 0.87);
  --navItemColor: rgba(255, 255, 255, 0.539);
  --accent: #55e6a5;
  --navbarBackground: rgba(0, 0, 0, 0.304);
  --activeNavColor: white;
}

* {
  ::selection {
    color: white;
    background: rgb(71, 70, 70);
  }
}

.green {
  color: var(--accent);
}

.heading {
  border-bottom: 2px solid var(--accent);
}

li {
  list-style-type: none;
}

ul li {
  list-style-type: none;
  margin-left: -20px;
}

ul li::before {
  content: "\2022";
  color: var(--accent);
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.glitch {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 767px) {
  .heading {
    text-align: center;
  }
}
