.loading__container_true,
.loading__container_false {
  max-height: 100vh;
  top: 0;
  left: 0;
  transition: height 0.5s linear;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: var(--background);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  cursor: none;
}

.loading__text {
  text-align: center;
}

.loading__text h2 {
  font-family: "poppins";
  font-size: 15px;
}

.loading__text span {
  font-size: 20px;
}

.loading__container_false {
  height: 0;
}

.loading__container_false .loading__text {
  transition: opacity 0.15s linear;
  opacity: 0;
}
