.navbar {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "poppins";
}

.topNavbar {
  width: 100%;
  z-index: 998;
  margin: auto;
  padding: 10px 0px;
  position: fixed;
  background-color: var(--navbarBackground);
  backdrop-filter: blur(10px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 400ms ease-in-out;
  img {
    width: 100%;
    padding-left: 10px;
  }
}

.image {
  max-width: 52px;
  transform: translateY(3px);
}

.darkButton {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  color: var(--accent);

  .darkToggleButton {
    overflow: visible !important;
  }
}

.navItemsTop {
  font-size: 30px;
  margin-top: 10px;
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    color: var(--navItemColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 400ms ease-in-out;
  }

  a:hover {
    border-bottom: 2px solid var(--accent);
    color: var(--accent);
    transform: translateY(-3px);
  }
}

.leftNavbar {
  background-color: var(--navbarBackground);
  backdrop-filter: blur(10px);
  z-index: 997;
  position: fixed;
  left: 0;
  top: 77px;
  height: 100vh;
  transition: 400ms ease-in-out;
}

.navItems {
  cursor: pointer;
  .active {
    border-right: 2px solid var(--accent);
    color: var(--activeNavColor);
  }
  a {
    text-decoration: none;
    color: var(--navItemColor);
    border-right: 2px solid rgba(0, 0, 0, 0);
    padding: 20px;
    transition: 400ms ease-in-out;
    display: block;
    writing-mode: vertical-lr;
  }
  a:hover {
    border-right: 2px solid var(--accent);
    color: var(--accent);
  }
}

@media (max-width: 767px) {
  .topNavbar {
    align-items: center;
    img {
      width: 80%;
      padding-left: 10px;
    }
  }

  .navItemsTop {
    font-size: 20px;
  }

  .leftNavbar {
    font-size: 14px;
    top: 68.59px;
  }
}
