.experienceContainer {
  font-family: "poppins";
  max-width: 1300px;
  margin: auto;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 150px;
  .commonHeading {
    font-size: 70px;
    font-weight: 900;
  }
  a {
    font-size: 23px;
    font-weight: 800;
  }
}

.experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.singleExperience {
  border-left: 1px solid var(--accent);
  padding: 0px 30px;
  height: 100%;
}

.workplace {
  line-height: 20px;
  width: 95%;
}

.flexDesign {
  display: flex;
  align-items: center;
  gap: 10px;
}

.place {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent);
  a {
    position: relative;
    text-decoration: none;
    color: var(--color);
    transition: 400ms;
  }
  a:hover {
    color: var(--activeNavColor);
  }
  a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 0;
    left: 0;
    background-color: var(--color);
    transition: 400ms;
  }
  a:hover::after {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .experienceContainer {
    margin-right: 10px;
    padding-top: 40px;
    .commonHeading {
      font-size: 47px;
      text-align: center;
    }
    a {
      font-size: 20px;
    }
  }
  .experience {
    grid-template-columns: repeat(1, 1fr);
  }
  .singleExperience {
    border-left: none;
    padding: 0px;
  }
}
