.green {
  color: var(--accent);
}

.heading {
  border-bottom: 2px solid var(--accent);
}

li {
  list-style-type: none;
}

ul li {
  list-style-type: none;
  margin-left: -20px;
}

ul li::before {
  content: "\2022";
  color: var(--accent);
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.glitch {
  font-family: "Space Mono", monospace;
}

@media (max-width: 767px) {
  .heading {
    text-align: center;
  }
}
