@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Poppins;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);
  transition: 400ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #121212;
  --color: rgba(255, 255, 255, 0.87);
  --navItemColor: rgba(255, 255, 255, 0.539);
  --accent: #55e6a5;
  --navbarBackground: rgba(0, 0, 0, 0.304);
  --activeNavColor: white;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #00000000;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #272727;
  }
}

[data-theme="light"] {
  /* Light mode styles using custom color variables */
  --background: rgb(235, 233, 233);
  --accent: #30ae75;
  --color: black;
  --navItemColor: rgb(99, 99, 99);
  --navbarBackground: rgba(255, 255, 255, 0.304);
  --activeNavColor: black;
}

[data-theme="dark"] {
  /* Dark mode styles using custom color variables */
  --background: #121212;
  --color: rgba(255, 255, 255, 0.87);
  --navItemColor: rgba(255, 255, 255, 0.539);
  --accent: #55e6a5;
  --navbarBackground: rgba(0, 0, 0, 0.304);
  --activeNavColor: white;
}

* {
  ::selection {
    color: white;
    background: rgb(71, 70, 70);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(235, 233, 233);
    --accent: #30ae75;
    --color: black;
    --navItemColor: rgb(99, 99, 99);
    --navbarBackground: rgba(255, 255, 255, 0.304);
    --activeNavColor: black;
  }
}
